{% extends "base.html.twig" %}

{% block title %}Réintialiser son mot de passe{% endblock %}

{% block body %}
    <h1>Mot de passe oublié ?</h1>

            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

    <br><br>
    <button class="btn"type="">Annuler</button>
    <button class="btn" type="submit">Réinitialiser</button>

    {{ form_end(form) }}
{% endblock %}