{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.confirmPassword) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.codePostal) }}
        {{ form_row(registrationForm.ville) }}

    * Champs obligatoires

        <br><br><button class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
