{% extends "base.html.twig" %}

{% block body %}

    <h1> Projet 2 web : site de vente Espace client </h1>

    <div class="row">
        <div class="col-7">
            les évènements + liens
            <table class="table table-bordered">
                <caption>Evènements</caption>
                <thead>
                <tr><th>nom</th><th>stock</th><th>type</th><th>prix</th><th>photo</th><th>Ajouter</th>
                </tr>
                </thead>
                <tbody>
                {% for evenement in evenements if evenement is not empty %}

                    <tr>
                        <td>{{evenement.nom}}</td><td>{#{evenement.stock}#}</td>
                        <td>{{evenement.libelle | default('pas de libellé')}}</td><td>
                            {{evenement.prix}}</td><td>
                            <img style="width:40px;height:40px" src="{{asset('images/')}}{{evenement.photo}}" alt="image de {{evenement.nom}}" >
                        </td>
                        <td>
                            <a href=""  class="btn btn-primary m-1 p-1">Ajouter</a>
                        </td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
            les produits + liens
        </div>
        <div class="col-5;">
            le panier +liens
            <table class="table table-bordered">
                <caption>Panier</caption>
                <thead>
                <tr><th>Nom de l'évènement</th><th>nombre de place</th><th>prix</th><th>prix total</th><th></th><th>supprimer</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}