{% extends "base.html.twig" %}

{% block body %}

    <h1> Projet 2 web : site de vente Espace client </h1>

    <div class="row">
        <div class="col-7">
            les produits + liens
            <table class="table table-bordered">
                <caption>Evènements</caption>
                <thead>
                <tr><th>nom</th><th>stock</th><th>type</th><th>prix</th><th>photo</th><th>Ajouter</th>
                </tr>
                </thead>
                <tbody>
                {% for evenement in evenements if evenement is not empty %}

                    <tr>
                        <td>{{evenement.nom}}</td>
                        {% if evenement.nombrePlaces > 0 %}
                            <td>{{evenement.nombrePlaces}}</td>
                        {% else %}
                            <td class="alert alert-danger"> Indisponnible </td>
                        {% endif %}
                        <td>{{evenement.description | default('pas de libellé')}}</td><td>
                            {{evenement.prix}}</td><td>
                            <img style="width:40px;height:40px" src="{{asset('images/')}}{{evenement.photo}}" alt="image de {{evenement.nom}}" >
                        </td>
                        <td>
                            {% if evenement.nombrePlaces > 0 %}
                            <form action="{{ path('PanierPlace.ajout', {'n': evenement.id}) }}" method="POST">
                                <input type="hidden" name="_method" value="ADD">
                                <input class="btn btn-primary m-1 p-1" type="submit" value="Ajouter">
                            </form>
                            {% else %}
                                <input type="button" class="btn btn-dark m-1 p-1" value="Ajouter">
                             {% endif %}


                        </td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
        <div class="col-5; ">
            le panier +liens
            <table class="table table-bordered">
                <caption>Panier</caption>
                <thead>
                <tr><th>Nom de l'évènement</th><th>nombre de place</th><th>Photo</th><th>supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% set prixTotal = 0 %}
                #{% for p in panier if panier is not empty %}
                    <tr>
                        <td>{{p.evenement.nom}}</td>
                        <td>
                            <form class="d-inline" action="{{ path('PanierPlace.decrementerEvenementPanier', {'id': p.evenement.id}) }}" method="POST">
                                <input type="hidden" name="_method" value="PUT">
                                <input class="btn btn-primary m-1 p-1" type="submit" value="-">
                            </form>
                            x{{ p.quantite }}
                            <form class="d-inline" action="{{ path('PanierPlace.incrementerEvenementPanier', {'id': p.evenement.id}) }}" method="POST">
                                <input type="hidden" name="_method" value="PUT">
                                {% if p.evenement.nombrePlaces == 0 %}
                                <input class="btn btn-dark m-1 p-1" type="button" value="+">
                                {% else %}
                                <input class="btn btn-primary m-1 p-1" type="submit" value="+">
                                {% endif %}
                            </form>
                        </td>
                            {{p.evenement.prix}}</td><td>
                            <img style="width:40px;height:40px" src="{{asset('images/')}}{{p.evenement.photo}}" alt="image de {{p.evenement.nom}}" >
                        </td>
                        <td>
                            <form action="{{ path('PanierPlace.supprimer', {'n': p.id}) }}" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <input class="btn btn-primary m-1 p-1" type="submit" value="Supprimer">
                            </form>
                        </td>
                    </tr>
                {% set prixTotal = prixTotal + p.evenement.prix * p.quantite %}
                {% endfor %}

                <tbody>
            </table>
            Prix total de la commande : {{ prixTotal }} €
            <a href="{{ path('commande.valider') }}" class="btn btn-primary" onclick="return confirm('Voulez vous valider la commande ?')">Valider la commande</a>
        </div>

    </div>

{% endblock %}