{% extends "base.html.twig" %}

{% block body %}

    <h1> Projet 2 web : site de vente Espace client </h1>

    <div class="row">
        <div class="col-7">
            les produits + liens
            <table class="table table-bordered">
                <caption>Evènements</caption>
                <thead>
                <tr><th>nom</th><th>stock</th><th>type</th><th>prix</th><th>photo</th><th>Ajouter</th>
                </tr>
                </thead>
                <tbody>
                {% for evenement in evenements if evenement is not empty %}

                    <tr>
                        <td>{{evenement.nom}}</td><td>{{evenement.nombrePlaces}}</td>
                        <td>{{evenement.description | default('pas de libellé')}}</td><td>
                            {{evenement.prix}}</td><td>
                            <img style="width:40px;height:40px" src="{{asset('images/')}}{{evenement.photo}}" alt="image de {{evenement.nom}}" >
                        </td>
                        <td>
                            <a href="{{ path('PanierPlace.ajout', {'n': evenement.id}) }}"  class="btn btn-primary m-1 p-1">Ajouter</a>
                        </td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
        <div class="col-5; ">
            le panier +liens
            <table class="table table-bordered">
                <caption>Panier</caption>
                <thead>
                <tr><th>Nom de l'évènement</th><th>nombre de place</th><th>Prix</th><th>photo</th><th>supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% set prixTotal = 0 %}
                #{% for p in panier if panier is not empty %}
                    <tr>
                        <td>{{p.evenement.nom}}</td>
                        <td>{{p.quantite | default('pas de libellé')}}</td><td>
                            {{p.evenement.prix}}</td><td>
                            <img style="width:40px;height:40px" src="{{asset('images/')}}{{p.evenement.photo}}" alt="image de {{p.evenement.nom}}" >
                        </td>
                        <td>
                            <a href="{{ path('PanierPlace.supprimer',{ 'n': p.id }) }}"  class="btn btn-primary m-1 p-1">Supprimer</a>
                        </td>
                    </tr>
                {% set prixTotal = prixTotal + p.evenement.prix * p.quantite %}
                {% endfor %}

                <tbody>
            </table>
            Prix total de la commande : {{ prixTotal }} €
            <a href="" class="btn btn-primary">Valider la commande</a>
        </div>

    </div>

{% endblock %}