{% extends "base.html.twig" %}

{% block body %}

<h1> Projet 2 web : site de vente Espace visiteur </h1>

<div class="row">
    <div class="col-7">
        les produits + liens
        <table class="table table-bordered">
            <caption>Evènements</caption>
            <thead>
            <tr><th>nom</th><th>stock</th><th>type</th><th>prix</th><th>photo</th>
            </tr>
            </thead>
            <tbody>
            {% for evenement in evenements if evenement is not empty %}

                <tr>
                    <td>{{evenement.nom}}</td><td>{{evenement.nombrePlaces}}</td>
                    <td>{{evenement.description | default('pas de libellé')}}</td><td>
                        {{evenement.prix}}</td><td>
                        <img style="width:40px;height:40px" src="{{asset('images/')}}{{evenement.photo}}" alt="image de {{evenement.nom}}" >
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>

{% endblock %}